{% extends "acc/reg.html" %}

{% block main %}
<section class="card">
    <h1 class="title">Complete Employer Profile</h1>
    <form action="{% url 'emp' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Company Name</label>
        <input type="text" name="company_name">
        <label>About Company</label>
        <textarea name="about"></textarea>
        <label>Company Logo</label>
        <input type="file" name="logo">
        <label>Location</label>
        <input type="text" name="location">
        <div class="form-actions">
            <button class="btn" type="submit">Continue</button>
        </div>
    </form>
</section>
{% endblock  %}
