{% extends "acc/reg.html" %}

{% block main %}
<section class="card">
    <h1 class="title">Password Recovery</h1>
    <form action="{% url 'forget' %}" method="post">
        {% csrf_token %}
        <label>Email</label>
        <input type="text" name="email">
        {% if eror %}
            <p style="color:#ff9ea7">{{eror}}</p>
        {% endif %}
        <div class="form-actions">
            <button class="btn" type="submit">Send Code</button>
        </div>
    </form>
</section>
{% endblock %}