{% extends "acc/reg.html" %}

{% block main %}
<section class="card">
    <h1 class="title">Login</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label>Username or email</label>
        <input type="text" name="username">
        <label>Password</label>
        <input type="password" name="pas">
        {% if eror %}
            <p style="color:#ff9ea7">{{eror}}</p>
            {% if eror == 'imvalid username or password' %}
                <a class="muted" href="{% url 'forget' %}">Forget password?</a>
            {% endif %}
        {% endif %}
        <div class="form-actions">
            <button class="btn" type="submit">Login</button>
        </div>
    </form>
</section>
{% endblock %}