{% extends "acc/reg.html" %}

{% block main %}
<section class="card">
    <h1 class="title">Set New Password</h1>
    <form action="{% url 'newpas' %}" method="post">
        {% csrf_token %}
        <label>Your username</label>
        <input type="text" name="username">
        <label>New password</label>
        <input type="password" name="p1">
        <label>Repeat password</label>
        <input type="password" name="p2">
        {% if eror %}
            <p style="color:#ff9ea7">{{eror}}</p>
        {% endif %}
        <div class="form-actions">
            <button class="btn" type="submit">Save Password</button>
        </div>
    </form>
</section>
{% endblock %}