{% extends "acc/reg.html" %}

{% block main %}
    <form action="{% url 'newpas' %}" method="post">
        {% csrf_token %}

        <label for="username">Your username</label><br>
         <input type="text" name="username" id=""><br><br>

        <label for="p1">New password</label><br>
         <input type="text" name="p1" id=""><br><br>
        
        <label for="p2">Try password</label><br>
         <input type="text" name="p2" id=""><br><br>
        
        {% if eror %}
            <p>{{eror}}</p>
        {% endif %}
        
        <button type="submit">Save</button>
    </form>
{% endblock %}