{% extends "acc/reg.html" %}

{% block main %}
<section class="card">
    <h1 class="title">Complete Seeker Profile</h1>
    <form action="{% url 'seek' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Bio</label>
        <input type="text" name="bio">
        <label>Resume</label>
        <input type="file" name="resume">
        <label>Experience (years)</label>
        <input type="number" name="exp">
        <label>Education</label>
        <input type="text" name="edu">
        <label>Birth date</label>
        <input type="date" name="burth_date">
        <label>Address</label>
        <input type="text" name="adress">
        <div class="form-actions">
            <button class="btn" type="submit">Continue</button>
        </div>
    </form>
</section>
{% endblock  %}
