{% extends "acc/reg.html" %}

{% block main %}
        <form action="{% url 'seek' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="bio">bio</label><br>
            <input type="text" name="bio" id=""><br><br>
            
            <label for="resume">Resume</label><br>
            <input type="file" name="resume" id=""><br><br>

            <label for="exp">Experience</label><br>
            <input type="number" name="exp" id=""><br><br>

            <label for="edu">Education</label><br>
            <input type="text" name="edu" id=""><br><br>

            <label for="burth_date">burth date</label><br>
            <input type="date" name="burth_date" id=""><br><br>

            <label for="adress">Adress</label><br>
            <input type="text" name="adress" id=""><br><br>

            <button type="submit">Countinue</button>
        </form>
{% endblock  %}
