<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home' %}">home</a>
    <form action="{% url 'search' %}" method="get">
        <input type="text" name="q">
    </form>
    {% for i in j %}
        <p>{{i.company.company_name}}</p>
        <p>{{i.title}}</p>
        <p>{{i.description}}</p>
        <p>{{i.sallary}}</p>
        <p>{{i.location}}</p>
        <p>{{i.job_type}}</p>
        <p>{{i.exp_req}}</p>
        <p>{{i.category.name}}</p>
        <p>{{i.created_at}}</p>

        <div>
            <a href="{% url 'aplicate' i.id %}">Aplicate</a>
        </div>
    {% endfor %}
</body>
</html>