<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}

        <label for="sms">Message for Emploeer</label><br>
        <textarea name="sms" id=""></textarea><br><br>

        <label for="resume">Resume</label><br>
        <input type="file" name="resume" id=""><br><br>

        <button type="submit">Send</button>

    </form>
</body>
</html>