<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in apl %}

        <p>{{i.job.title}}</p>
        <p>{{i.user.username}}</p>
        <p>{{i.sms}}</p>
        {% if i.resume %}
            <a href="{{ i.resume.url }}">Resume</a>
        {% endif %}
        <p>{{i.status}}</p>
        <p>{{i.created_at}}</p>

        <div>
            <a href="{% url 'update_app' i.id %}">Update</a>
            <a href="{% url 'delete_app' i.id %}">Cansel sended</a>
        </div>
    {% endfor %}
</body>
</html>
