<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in apl %}
        <p>{{ i.job.title }}</p>
        <p>{{ i.user.username }}</p>
        <p>{{ i.sms }}</p>

        {% if i.resume and i.resume.name %}
            <a href="{{ i.resume.url }}" target="_blank">Резюме</a>
        {% else %}
            <p>Резюме не прикреплено</p>
        {% endif %}

        <p>{{ i.status }}</p>
        <p>{{ i.created_at }}</p>
        <a href="{% url 'profile' i.user.id %}">Profile</a>
    {% endfor %}
</body>
</html>