{% extends "base.html" %}
{% block title %}Update Application | WorkFinder{% endblock %}
{% block main %}
<section class="card">
    <h1 class="title">Update Application</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Message for employer</label>
        <textarea name="sms">{{app.sms}}</textarea>
        <label>Upload new resume (optional)</label>
        <input type="file" name="resume">
        <div class="form-actions">
            <button class="btn" type="submit">Save Update</button>
        </div>
    </form>
</section>
{% endblock %}